

/* @media (max-width:667px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .container{
   padding-top: 20%
  }


} */

@media (max-width:850px) {

  .presentation-el {
    width: 65%;
  }

  .title {
    font-size: 3vw;
  }

  .button {
    font-size: 2.3vw;
    margin: 0 3%;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 2vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 17px;
  margin-left: 17px;
  /* opacity: ; */
  }

  .date ,.time{
    font-size: 3vw;
    
  }
  

  .box .inner {
    height: 130px;
    line-height: 220px;
    font-size: 3em;
  }

  .container{
    margin-top: 9%;
  }
  .box .inner:first-child span {
    left: 54.5%;
  }

  .cross{
    font-size: 2vh;
    left: 80%;
  }

  html{
    overflow-x: hidden; ;
  }

  .info{
    font-size: 2.8vw;
  }

}

@media screen and (max-width:400px) {

  .great {
    --aug-l-height: 50%;
    --aug-b-width: 60%;
    --aug-tr-width: 40%;
    aspect-ratio: 0.7;
    margin: 40px 44px;
    /* aspect-ratio: 11/7; */


  }
  .great:hover {
    --aug-l-height: 50%;
    --aug-b-width: 60%;
    --aug-tr-width: 40%;
    margin: 40px 44px;
    /* aspect-ratio: 0.7; */
  }
  
  

  .presentation-el {
    /* width: 70%; */
    /* opacity: 1; */
  }

  .title {
    font-size: 4.7vw;
  }

  .date,.time, .price{
    font-size: 4.5vw;
    opacity: 1;
    transition: 400ms ease-in-out;
    line-height: 1vh;
  }


  .earth {
    width: 350px;
  }

  .button {
    font-size: 3.5vw;
    margin-bottom: 10px;
    border-radius: 50px;
    opacity: 1;
    transform: translateY(0px);
  }

  .box .inner {
    height: 3em;
    line-height: 800px;
    font-size: 55em;
  }

  .container{
    margin-top: 20%;
  }

  .box .inner:first-child span {
    left: 55%;
  }

  .card-image{
    opacity: 1;
    transform: translateX(-50%);
  }

  .text-container{
    transform: translate(-50%,0%);
  }

.presentation-el:hover .text-container{
  height: 50%;
  bottom: 5%;
}

  .box {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    padding-top: 9%;
    padding-left: 7%;
  }

  .card{
    height: 270%;
    width: 200%;
    z-index: 100000;
  }

  .info{
    font-size: 3.7vw;
  }

  .info-title{
    margin-bottom: 5%;
    font-weight: bolder;
    font-size: 4vw;
  }
  .button{
    width: 27vw;
    height: 4.4vh;
  }

  .button{
    margin: 0 4px 0 4px;
  }

  .wrapper h1.glitch{
    font-size: 13vw;
    margin-top: 25%;
    font-weight: bolder;
  }

  

  

  .cross{
    font-size: 2vh;
    left: 83%;
  }

  h1{
    width: 50%;
  }

  em.planet.planet-left {
    -webkit-transform-origin: 0% 5vmin;
    transform-origin: 270% 50%;
  }
  
  em.planet.right {
    -webkit-transform-origin: 45vmin 5vmin;
    transform-origin: -160% 50%;
  }
}

@media (max-width: 684px) {
  .box .inner {
    height: 80px;
    line-height: 120px;
    font-size: 2.4em;
  }
  .box .inner:first-child span {
    left: 60%;
  }
  .box {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    padding-top: 4%;
  }
}
